Source: neovim
Section: editors
Priority: optional
Standards-Version: 3.9.5
Maintainer: XBMC <florian+launchpad@fwalch.com>
Build-Depends:
 autoconf,
 automake,
 cmake,
 debhelper (>= 9),
 gperf,
 libluajit-5.1-dev [amd64 armel armhf arm64 i386],
 luajit [amd64 armel armhf arm64],
 libtool-bin <!nocheck>,
 pkg-config,
 unzip <!nocheck>,
 libuv1-dev,
 lua-busted <!nocheck>,
 lua-lpeg  <!nocheck>,
 lua-mpack <!nocheck>
Homepage: http://neovim.io
Vcs-Git: git://github.com/neovim/neovim.git
Vcs-Browser: https://github.com/neovim/neovim

Package: neovim
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Provides:
 editor,
 vim,
Description: Fork of Vim aiming to improve user experience, plugins, and GUIs.

Package: neovim-runtime
Architecture: all
Depends: ${misc:Depends}
Multi-Arch: foreign
Description: heavily refactored vim fork (runtime files)
 Neovim is a fork of Vim focused on modern code and features, rather than
 running in legacy environments.
 .
 This package contains the architecture independent runtime files used by
 neovim.  Examples of such files are: documentation, rules for
 language-specific highlighting and indentation, color schemes, and standard
 plugins.
